body {
    margin: 0;
    padding: 0;
}

.album-card {
    width: 30%;
    align-items: center;

}

.album-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
}

img {
    width: 100%;
    height: 250px;
}

.album-title {
    text-align: center;
}

.album-description {
    text-align: center;
}

.hover-bcg:hover {
    background-color: lightgrey;
    color: white;
}